<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/style.css"/>
  </head>
  <body>
    <h1>Hello World!</h1>

    <p>This is a message from the template</p>

    <p class="blue">If this text is blue then the CSS loaded</p>

    <p id="thing">If this text is red then JS loading works</p>

    <p>This is a string (str) from the struct: {{ example_str }}</p>

    <p>This is a float (f64) from the struct: {{ example_f64 }}</p>

    <p>
      f64 for example has the method
      is infinte: {{ example_f64.is_sign_negative() }}
    </p>

    <script src="/static/app.js"></script>
  </body>
</html>
